<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="amici" translate="label" sortOrder="100" class="amici-tab">
            <label>Amici Infotech</label>
        </tab>
        <section id="Amici_core" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label><![CDATA[Extensions &amp; Notifications]]></label>
            <tab>amici</tab>
            <resource>Amici_Core::core</resource>
        </section>
    </system>
</config>
